name:  Terraform  Plan  (GCP)

on:
   pull_request:
        paths:
            -  "terraform/**"

jobs:
    plan:
       runs-on:  ubuntu-latest
        steps:
            -  uses:  actions/checkout@v4
           -  uses:  hashicorp/setup-terraform@v3
                with:
                   terraform_version:  1.6.0
            -  name:  Terraform  fmt
                run: terraform  fmt  -check  -recursive
            -  name:  Terraform  init
               working-directory:  terraform
                run:  terraform  init
            -  name:  Terraform validate
                working-directory:  terraform
                run:  terraform  validate
           -  name:  Terraform  plan
                working-directory:  terraform
               run:  terraform  plan  -input=false
